h1{
    font-family: 'Edu SA Beginner', cursive;
    font-size: 30px;
}
h2{
    font-family: 'Edu SA Beginner', cursive;
    font-size: 25px;
}
#agrade{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
body{
    text-align: center;
    width: 90%;
    margin: 10px;
}
p{
    font-family: 'Oswald', sans-serif;  
}
